.headerCart {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerImgInsideCart{
 display: flex;
 gap: 20px;
}
.imgInsideCart{
  width: 64px;
  height: 64px;
}
